.contato-container{
    display: flex;
    min-width: 320px;
    margin: auto;
    height: 65vh;
    padding: 10px 15px;
    background-color: #4f757bff;
    justify-content:space-around;
    color: #f9dbaeff;
}

.text-align{
    text-align: right;
    padding-top: 50px;
}

.text-align h1{
    font-size: 48px;
    padding-top: 20px;
}


.contato-container p{
    font-size: 16px;
    padding-top: 20px;
    color: #fff;
}

span{
    font-weight: bolder;
}

span:hover{
    text-decoration:underline;
}

.main-form .form-group {
    padding-bottom: 10px;
}

.main-form .form-group input{
    padding-right: 300px;
    padding-bottom: 5px;
}

.main-form .form-group label {
    display: block;
    /*foi aqui que quebrou a linha*/
}

.button{
    background-color: #4f757bff;
    color: #f9dbaeff;
    text-align: center;
    border-radius: 30px;
    width: 100px;
    display: block;
    height: 50px;
    border: 2px solid #f9dbaeff;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.label-nome{
    padding-top: 50px;
}

